/* 
Other color combinations.
body {
  color: #5e4e3f; // umber
  background-color: #f4f3f2; // anti-flash white
}

body {
  color: #905c21; // grizzly
  background-color: #f7ebde; // moccasin
}

body {
  color: #931c2e; // antique ruby
  background-color: #ecc9ce; // dust storm
}
*/

body {
  margin: 10% 5%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #905c21; /* grizzly */
  background-color: #f7ebde; /* moccasin */
}

.logo {
  position: absolute;
  top: calc(50% - 96px);
  left: calc(50% - 96px);
}

.menu {
  margin-bottom: 1.414em;
}

hgroup h1 {
  font-size: 1.414em;
  font-weight: 400;
  color: #72420e; /* sepia */
}
hgroup h2 {
  font-size: 1em;
  font-weight: 400;
}

hgroup.title {
  text-align: center;
}
hgroup.title h2 {
  font-size: 0.707em;
}

.table-of-contents {
  margin: 36px 0;
}
.table-of-content li {
  margin: 12px;
}
a {
  color: #905c21;
}
.menu a,
a:active,
a:visited {
  color: #c13a3a;
}

p {
  font-size: 1em;
  margin-bottom: 1.414em;
}

.commentary {
  margin-bottom: 1.414em;
  font-size: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
}

::selection {
  background-color: #905c21; /* grizzly */
  color: #f7ebde; /* moccasin */
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: 10% 7%;
    font-size: 28px;
    line-height: 1.7;
    letter-spacing: 0.08em;
  }

  hgroup h1 {
    margin-top: 0em;
  }
  hgroup h2 {
    margin: 0.5em 0;
    font-size: 0.707em;
  }

  hgroup.title {
    margin-bottom: 1.414em;
  }
  hgroup.title h1 {
    margin-bottom: 0.707em;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  hgroup.title h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .commentary {
    grid-template-columns: repeat(2, fit-content(5.4em));
    gap: 0.2em 0.5em;
  }
}

@media screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  hgroup.title h1 {
    font-size: 10.5vw;
    letter-spacing: 0.15em;
  }
}

@media screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .commentary {
    grid-template-columns: repeat(4, fit-content(5.4em));
    gap: 0.2em 0.5em;
  }
}
