body {
  margin: 10% 5%;
  font-size: 14px;
  line-height: 1.6;
  color: #505050;
  background-color: #E7F0FA;
}

hgroup {
  font-size: 1.414em;
}
hgroup h1 {
  font-size: 1.414em;
  color: #757575;
}
hgroup h2 {
  font-size: 1em;
  color: #757575;
}

p {
  font-size: 1em;
  margin-bottom: 1.414em;
}

.commentary {
  margin-bottom: 1.414em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.commentary__sentence {
  margin-right: 16px;
}
