body {
  margin: 10% 5%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #505050;
  background-color: #e7f0fa;
}

hgroup {
  font-size: 1.414em;
}
hgroup h1 {
  font-size: 1.414em;
  color: #757575;
}
hgroup h2 {
  font-size: 1em;
  color: #757575;
}

hgroup.title {
  text-align: center;
}
hgroup.title h2 {
  font-size: 0.707em;
}

.table-of-content {
  margin: 36px 0;
}
.table-of-content li {
  margin: 12px;
}
a {
  color: #505050;
}
.menu a,
a:active,
a:visited {
  color: #e17676;
}

p {
  font-size: 1em;
  margin-bottom: 1.414em;
}

.commentary {
  margin-bottom: 1.414em;
  font-size: 1em;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
}
.commentary__sentence {
  justify-self: center;
}

@media screen and (max-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    margin: 10% 7%;
    font-size: 28px;
    line-height: 1.7;
    letter-spacing: 1.5px;
    color: #757575;
  }
}